@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#main_container {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    min-width: 350px;
    margin: 50px auto;
    padding: 20px;
    background-color: #14213d;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #f16400;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; 
    background-color: #e5e5e5;
    border: none;
    transition: 0.3s ease-in-out;
}
input:focus {
    outline: none;
    border: 1px solid #f16400;
}
button {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    padding: 10px;
    background-color: #f16400;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}
button:hover {
    background-color: #ffa564;
    transform: scale(1.01);
}